.jumbotron {
	margin-top: -36px;
}

.login-dropdown {
	padding: 15px;
	min-width: 250px
}

.remember-checkbox {
	z-index: -1;
}

.login-dropdown .glyphicon-envelope, .agree-checkbox .glyphicon-envelope {
	margin-right: 4px;
	top: 2px;
}

.login-dropdown .input-group {
	margin-bottom: 10px;
}

.login-dropdown .input-group-addon {
	padding: 0px 8px;
}

.login-dropdown .form-group {
	margin-bottom: 0px;
}

.header-user-container {
	width: auto;
}

.form-margin {
	margin-bottom: 40px;
}

#rlpass {
	margin-bottom: 15px;
}

.agree-checkbox {
	padding-top: 1px !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

footer {
	text-align: center;
}

@keyframes changeShadow {
	from {
		text-shadow: 0px 0px 0px #444444;
	}

	to {
		text-shadow: 0px 0px 5px #444444;
	}
}

.breathe-shadow {
	animation-duration: 1.5s;
	animation-name: changeShadow;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}