.jumbotron {
	margin-top: -36px;
}

.login-dropdown {
	padding: 15px;
	min-width: 250px
}

.remember-checkbox {
	z-index: -1;
}

.login-dropdown .glyphicon-envelope, .agree-checkbox .glyphicon-envelope {
	margin-right: 4px;
	top: 2px;
}

.login-dropdown .input-group {
	margin-bottom: 10px;
}

.login-dropdown .input-group-addon {
	padding: 0px 8px;
}

.login-dropdown .form-group {
	margin-bottom: 0px;
}

.header-user-container {
	width: auto;
}

.form-margin {
	margin-bottom: 40px;
}

#rlpass {
	margin-bottom: 15px;
}

.agree-checkbox {
	padding-top: 1px !important;
}

td small {
	font-size: 83%;
}

.admin-table-btns {
	width: 1%;
	white-space: nowrap;
	text-align: right;
}

.admin-form-new-header {
	margin-top: 0px;
	margin-bottom: 36px;
}

.table-hover tr.highlight {
	background-color: #e9e9e9 !important;
}

.page-header.no-margin {
	margin-top: 0px !important;
}

.food-desc {
	text-align: right;
}

.well .food-title {
	margin-top: 0px;
}

.well .food-desc {
	margin-bottom: 0px;
}

h3, .h3 {
	font-size: 20px;
}

.no-margin > h4 {
	margin-bottom: 3px;
}

.bigger-font {
	font-size: 18px;
}

.radio {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

strong.food-title {
	font-weight: normal;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

@media (min-width: 992px) {
	.reservation-row .col-md-2 {
		width: 20%;
	}
}

.left {
	float: left;
}

.right {
	float: right;
}

footer {
	text-align: center;
}

@keyframes changeShadow {
	from {
		text-shadow: 0px 0px 0px #444444;
	}

	to {
		text-shadow: 0px 0px 5px #444444;
	}
}

.breathe-shadow {
	animation-duration: 1.5s;
	animation-name: changeShadow;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}